.priceListCategoryWrapper {
  position: relative;
  width: 80%;
  margin: auto;
}

.priceListCategoryContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 10;
  min-height: 25vw;
}

.priceListCategoryLogoContainer {
  opacity: 0.9;
  border-radius: 20vw;
  width: 10vw;
  height: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3vw 1vw 3vw 5vw;
}

.priceListCategoryLogo {
  background-size: cover;
  background-repeat: no-repeat;
  width: 75%;
  height: 75%;
}

.priceListCategoryContentContainer {
  border-radius: 25px;
  background-color: white;
  box-shadow: rgb(0 0 0 / 10%) 0 0.5vw 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 3vw;

}

.priceListCategoryColorBox {
  position: absolute;
  width: 25vw;
  height: 20vw;
  min-height: 15vw;
  border-radius: 25px;
  bottom: 0;
  right: -5vw;
  z-index: 1;
}

.priceListSubCategoryWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.subCategoryContainer {
  //border-left: 2px solid #ecbe21;
  //border-right: 2px solid #ecbe21;
  padding: 0 1vw;
  margin: 3vw 0.2vw;
}

.firstOne {
  border-left: none;
}

.colorLeft {
  left: -5vw;
}

.colorRight {
  right: -5vw;
}

.reverseFlexRow {
  flex-direction: row-reverse;
}

.subCategoryTreatment {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1vw 0;
}

.subCategoryName {
  text-align: center;
  margin: 0 0 2vw 0;

  p {
    font-size: 1.2vw;
    font-weight: bold;
  }
}

.priceListCategoryName {
  p {
    font-size: 1.4vw;
    font-weight: bold;
  }
}