.serviceBlockContainer {

}

.serviceBlockLogo {
  background-size: cover;
  height: 6vw;
  width: 6vw;
  background-repeat: no-repeat;
}

.serviceBlockTitle {
  align-self: center;

  p {
    text-align: center;
    font-size: 1.6vw;
    color: white;
  }
}