.dentistsPageContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 5vw auto;
}


.dentistsCardWrapper{
  position: relative;
  a{
    text-decoration: none;
    .dentistCardName{
      color: #4D83F1;
    }
    .dentistCardRole{
      color: black;
    }
  }
}

.dentistsCardContainer{
  position: relative;
  background-color: #E9F0FE;
  border-radius: 3vw;
  width: 20vw;
  height: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2vw;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

  .dentistsCardImage{
    background-size: contain;
    background-repeat: no-repeat;
    flex: 2 1;
    width: 85%;
    margin-top: 1.5vw;
  }

  .dentistsCardContent{
    flex: 1 1;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
  }
  .dentistCardName{
    color: #4D83F1;
    padding-bottom: 1vw;
    p{
      font-weight: bold;
    }
  }
  .dentistCardRole{
    p{
      font-size: 1vw;
    }
  }
}



.dentistsPage{
  .dentistsCardColorBox{
    position: absolute;
    width: 20vw;
    height: 30vw;
    background-color: #7077A5;
    z-index: 1;
    top: 0;
    right: 0;
    border-radius: 3vw;
  }
  &:hover{
    cursor: pointer;
    .dentistsCardContainer{
      background-color: white;
    }
    .dentistsCardColorBox{
      background-color: #F1D163;
    }
  }
}
.dentistsComponent{
  &:hover{
    cursor: pointer;
    .dentistsCardContainer{
      background-color: #F1D163;
    }
  }
}

.dentistProfileAboutWrapper{
  position: relative;
  margin-bottom: 15vw;
}

.dentistProfileAboutContainer{
  width: 80%;
  margin: 7vw auto 0 auto ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35vw;
  z-index: 10;
}
.dentistProfileAboutContentContainer{
  flex: 1;
  .dentistProfileAboutName{
    p{
      color: #4D83F1;
      font-size: 2vw;
    }
  }
  .dentistProfileAboutRole{
    margin: 1vw 0 3vw 0;
  }
  .dentistProfileAboutDescription{
    width: 70%;
    p{
      color: #707070;
    }

  }
}
.dentistProfileAboutImageContainer{
  flex: 1;
  display: flex;
  align-items: center;
  .dentistProfileAboutImage{
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    width: 30vw;
    height: 32vw;
  }
}
.dentistProfileAboutBoxColor{
  position: absolute;
  margin-top: 0;
  bottom: -5vw;
  right: -5vw;
  margin-right: 15vw;
  width: 30vw;
  height: 35vw;
  border-radius: 25px;
  background-color: #777FB0;
  z-index: -5;
}
