.aboutUsPageAboutUsWrapper{
  width: 100%;
  position: relative;
}
.aboutUsPageAboutUsBackgroundTitleContainer{
  position: absolute;
  p{
    font-size: 25vw;
    color: #000000;
    opacity: 4%;
    text-align: center;
  }
}

.aboutUsPageAboutUsContainer{
  padding-top: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.aboutUsPageAboutUsTitle{
  font-size: 2vw;
  font-stretch: expanded;
  font-weight: bold;
  padding-left: 20vw;
}
.aboutUsPageAboutUsContainerContent{
  width: 90%;
  margin: 5vw 0 auto;
  align-self: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.aboutUsPageAboutUsImageContainer{
  flex: 1;
  position: relative;
  .aboutUsPageColorBox{
    margin-top: 8vw;
    margin-right: 15vw;
    height: 47vw;
    width: 36vw;
    border-radius: 25px;
    background-color: #ECBE21;
  }
  .aboutUsPageAboutUsImage{
    z-index: 10;
    top: 0;
    left: 8vw;
    background-image: url("../../Assets/Images/AboutUsComponent.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    height: 47vw;
    width: 36vw;
  }
}

.aboutUsPageAboutUsTextContainer{
  height: 55vw;
  display: flex;
  flex-direction: column;
  .aboutUsPageAboutUsText{
    flex: 1;
    font-size: 1.7vw;
    color: #707070;
  }
  .aboutUsPageAboutUsFooter{
    .aboutUsPageAboutUsWorkingHoursTitle{
      font-size: 1.9vw;
      font-weight: bold;
      text-align: start;
    }
    .aboutUsPageAboutUsHoursContainer{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 2vw;
    }
    .aboutUsPageAboutUsHours{
      font-size: 1.9vw;
    }
  }
}