.seeAllButton{
  width: fit-content;
  color: #777FB0;
  padding-bottom: 5px;
  border-bottom: 3px solid #777FB0 ;
  p{
    font-weight: bold;
    font-size: 1.3vw;
  }
  &:hover{
    color: #774C91;
    cursor: default;
    border-color: #774C91;
  }
}
.blockTitle{
  font-size: 2vw;
  font-weight: bold;
}
.backgroundTitleContainer{
  position: absolute;
  width: 100%;
  p{
    color: #000000;
    opacity: 4%;
  }
}