
.navigationBarWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
.navigationBarContainer {
  display: flex;
  justify-content: space-between;
  //border: 1px solid black;
  padding: 10px 0;
  width: 90%;
}
.navigationBarLogoContainer {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  .navigationBarLogo {
    background-image: url("../../Assets/Images/IndividuumLogo.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 45px;
  }
}
.navigationBarTabsContainer {
  display: flex;
  justify-content: center;
  flex: 4;
}
.navigationBarLanguageContainer {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
.navigationBarTabsItem{
  padding: 20px;
  p{
    //font-weight: bold;
  }
  &:hover{
    color: #774C91;
    //text-decoration-line: underline;
    cursor: default;
    border-bottom: 1px solid #774C91;
    text-decoration: none;
  }
  a{
    color: inherit;
    text-decoration: inherit;
  }
}
.countryFlag{
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  p{
    color: crimson;
  }
}



