.imageVarazdat{
  background-image: url("../../Assets/Images/Varazdat.png");
}
.imageMarine{
  background-image: url("../../Assets/Images/Marine.png");
}
.imageAida{
  background-image: url("../../Assets/Images/Aida.png");
}