//@import 'scss-reset/_reset.scss';
@import "src/reset.scss";
@import "Containers/LandingPage/LandingPage";

.App{
  font-family: Montserrat, serif;
}

.piruz{
  background-color: #64CBC2;
}
.lightBlue{
  background-color: #6A92E9;
}
.yellow{
  background-color: #ECBE21;
}
.green{
  background-color: #80BF86;
}
.purple{
  background-color: #9B74B3;
}

