$aquamarine: #62ccc0;
$light_blue: #6A92E9;
$rich_yellow: #ECBE21;
$poor_yellow: #fbf49c;
$rich_green: #80BF86;
$poor_green: #81c085;
$rich_purple: #6e5aa0;
$poor_purple: #9B74B3;


// Font sizes

$standard: 1vw;

$navbar_title: 0.9vw;

$text: 1.3vw;
$large_text: 1.5vw;

$title: 1.5vw;
$sub_title: 1.2vw;

$services-title: 1.6vw;